[submodule "lib/p"]
	path = lib/p
	url = https://github.com/ambiata/p.git
	pushurl = git@github.com:ambiata/p.git
[submodule "lib/disorder"]
	path = lib/disorder
	url = https://github.com/ambiata/disorder.hs
	pushurl = git@github.com:ambiata/disorder.hs
[submodule "lib/x"]
	path = lib/x
	url = https://github.com/ambiata/x
	pushurl = git@github.com:ambiata/x
[submodule "lib/twine"]
	path = lib/twine
	url = https://github.com/ambiata/twine
	pushurl = git@github.com:ambiata/twine
