[submodule "lib/p"]
	path = lib/p
	url = https://github.com/ambiata/p.git
	pushurl = git@github.com:ambiata/p.git
[submodule "lib/disorder"]
	path = lib/disorder
	url = https://github.com/ambiata/disorder.hs
	pushurl = git@github.com:ambiata/disorder.hs
[submodule "lib/x"]
	path = lib/x
	url = https://github.com/ambiata/x
	pushurl = git@github.com:ambiata/x
[submodule "lib/twine"]
	path = lib/twine
	url = https://github.com/ambiata/twine
	pushurl = git@github.com:ambiata/twine
[submodule "lib/network"]
	path = lib/network
	url = https://github.com/erikd/network
[submodule "lib/tls"]
	path = lib/tls
	url = https://github.com/erikd/hs-tls
[submodule "lib/connection"]
	path = lib/connection
	url = https://github.com/erikd/hs-connection
[submodule "lib/http-client"]
	path = lib/http-client
	url = https://github.com/erikd/http-client
[submodule "lib/amazonka"]
	path = lib/amazonka
	url = https://github.com/erikd/amazonka
